body{
  background-color: #303030;
  font-family: 'Righteous',sans-serif;
  color: white;
}

div.main{
  display: flex;
  flex-direction: column;
}

.blur{
  filter:blur(6px);
}

div.malin{
  position: absolute;
  background-color: rgba(90, 90, 90, 0.97);
  height: 50%;
  width:50%;
  left: 25%;
  top:25%;
  z-index: 1;
}

div.banner{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 2em;
}

div.banner>h1{
  flex: 100%;
}

div.range{
  display: flex;
  flex:2;
  align-items: center;
}

div.infopan{
  display: flex;
  flex-wrap: wrap;
}
div.infopan>h2{
  flex: 3;
}


h2#scorenum{
  text-align: right;
}

input{
  font-size: 2em;
  text-align: center;
  width: 4em;
}

div.answer{
  display: flex;
}

div.hint{
 align-self: flex-end;
}
div.userTper{
  align-self:center;
}

p#answernumber{
  color: #303030;
  width: 2em;
  font-size: 3em;
  text-align: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.hidden{
  visibility:hidden;
}
